<!-- je vais reprendre la base du HTML de mon layout présent dans le
fichier fragments/layout.html
Les balises que je redéfini vont surcharger celles de mon layout
-->
<html lang="en" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Gestion des genres</title>
</head>
<body>

<!-- Cette section va remplacer la section du layout annotée layout:fragment="content" -->
<main layout:fragment="content">
    <h2>Gestion des genres</h2>
    
    <!--
    Ce formulaire va envoyer une requête POST sur /genres
    Je vais utiliser th:action=@{} afin de rajouter un token _csrf dans notre requête HTTP (protection de securité imposée par Spring security)
    Je vais ajouter un th:object="${avis}" afin d'envoyer un objet de type Avis au controller
    -->
    
    <form th:action="@{/genres}" th:object="${genre}" method="post">
        
        <!-- Titre -->
        <div class="form-element">
            <label>Titre</label>
            <!-- th:field="*{titre} : ce champs de saisie met à jour l'attribut titre de mon objet genre réferencé par th:object -->
            <input type="text" th:field="*{titre}">
        </div>
        
        <button>Validation</button>
    </form>
    
    <h2>Liste des genres</h2>
   
    <ul>
        <!-- th:each : va créer une balise li pour chaque élément de ma liste
        équivalent à la boucle for (Personne genre : genres) -->
        <li th:each="genre : ${listeGenres}">
            
            <section th:if="${genreEdit?.id == genre.id}">
                <form th:action="@{/genres}" method="post" th:object="${genreEdit}"  class="edit-form">
                    <input type="hidden" th:field="*{id}">
                    <input type="text" th:field="*{titre}">
                    <button>valider</button>
                    <a class="link-button edit-button" th:href="@{/genres}">annuler</a>
                </form>
                
                <!--
                    on met un bouton qui envoie une requête POST sur /genres/${genre.id}/supprimer pour chaque genre
                    et pour créer une requête POST, on est obligé de créer un formulaire
                -->
               
            </section>
            <section th:if="${genreEdit?.id != genre.id}">
                <!-- à l'interieur d'un élément generé avec th:each, je peux utiliser la variable de modèle :genre -->
                <span th:text="${genre.titre}"></span>
                <a class="link-button edit-button" th:href="|?edit=${genre.id}|">✎</a>
                <!--
                    on met un bouton qui envoie une requête POST sur /genres/${genre.id}/supprimer pour chaque genre
                    et pour créer une requête POST, on est obligé de créer un formulaire
                -->
                <a class="link-button delete-button" th:href="@{|/genres/${genre.id}/supprimer|}">✗</a>
            </section>
            
           
        </li>
    </ul>
</main>

</body>
</html>