<!-- avec : layout:decorate="~{fragments/layout}"
je vais reprendre la base du HTML de mon layout présent dans le
fichier fragments/layout.html
Les balises que je redéfini vont surcharger celles de mon layout
-->
<html lang="en" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Accueil</title>
</head>
<body>

<!-- Cette section va remplacer la section du layout annotée layout:fragment="content" -->
<main  class="flex-center" layout:fragment="content">
    <h2>Voici la bibliothèque des films de ENI Ecole Modifié</h2>
</main>

</body>
</html>